:root {
  --background: #01040C;
  --text: #B7C0D0;
  --text-light: #ffffff;
  --text-dark: #01040C;
  --lines: #B7C0D0;
  --colored-lines: #3d72de;
  --input-background: #131B2C;
  --light-button: #B7C0D0;
  --colored-button: #3d72de;
  --colored-button-hover: #335ebb;
}

/*common styles*/

body {
  font-family: 'Istok Web', sans-serif;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  white-space: pre-line;
  height: 100vh;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background-color: rgba(1, 4, 12, 0.80);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lisää hienovarainen varjo */
  transition: transform 0.3s ease; /* Sama siirtymä kuin main-content */
}
.header-shift {
  transform: translateX(350px); /* Sama määrä kuin dialogs-bar leveys */
}


.header h1 {
  color: var(--text); /* Muuta väri teemasi mukaan */
  font-size: 30px;
  text-align: left;
  margin: 10px 0; /* Lisää hieman tilaa */
  padding: 11px;
  padding-left: 100px;
}

/* App content styles */
.app-container {
  margin-top: 70px; /* Lisää marginaali, joka vastaa headerin korkeutta */
  /* Main content styles */
  padding-top: 60px; /* Sama arvo kuin .header:n korkeus */

}


button {
  background-color: var(--colored-button);
  color: var(--text-light);
  margin: 10px;
  border-radius: 8px;
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: var(--colored-button-hover);
}

input {
  border-radius: 30px;
  padding: 14px;
  border: none;
  font-size: 16px;
  background-color: var(--input-background);
  color: var(--text);
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow);
}

input::placeholder {
  color: var(--text);
}

/*main containers*/

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-column {
  width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 70px;
}

.main-content {
  margin-top: 60px; /* Sama arvo kuin .header:n korkeus */
  flex-grow: 1;
  transition: transform 0.3s ease;
  padding: 20px;
  width: 100%;
  height: 100vh;
  margin-left: 0;
  box-sizing: border-box;
}

.main-content-shift {
  transform: translateX(350px);
}

.main-content-shift {
  transform: translateX(350px);
}

/*dialogs bar*/

.menu-symbol {
  position: fixed;
  left: 30px;
  top: 20px;
  font-size: 30px;
  color: var(--text);
  cursor: pointer;
  z-index: 1000;
}

.dialogs-bar {
  width: 300px;
  background-color: #131B2C;
  border-right: 1px solid #3d3d5c;
  padding: 10px;
  padding-top: 60px;
  padding-left: 34px;
  margin: 0;
  overflow-y: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease;
}

.dialogs-bar-hidden {
  transform: translateX(-100%);
}

.dialogs-bar h2 {
  font-size: 18px;
  color: var(--text);
}

.dialogs-bar ul {
  list-style: none;
  padding: 0;
}

.dialogs-bar ul ul {
  padding-left: 20px;
}

.dialogs-bar li {
  margin-bottom: 5px;
  color: var(--text);
}

.dialogs-bar strong {
  cursor: pointer;
  color: var(--text);
}

/*login*/

.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/*multi step form*/

/*input step*/

.input-step {
  width: 100%;
}

.input-form-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.input-form {
  width: 100%;
  padding: 17px 50px 17px 25px;
  border-radius: 25px;
  background-color: var(--input-background);
  color: var(--text);
  font-size: 16px;
  border: none;
  box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--shadow);
  overflow-y: hidden;
  resize: none;
  font: inherit;
  box-sizing: border-box;
}

.upload-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  filter: invert(1);
}

.upload-icon:hover {
  opacity: 1;
}

.file-input-hidden {
  display: none;
}

.file-name-overlay {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--input-background);
  color: var(--text);
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  pointer-events: none;
}

@media (max-width: 768px) {
  .input-form-container {
    max-width: 100%;
    padding: 0 10px;
  }

  .upload-icon {
    width: 20px;
    height: 20px;
    right: 10px;
  }

  .input-form {
    padding: 15px 40px 15px 20px;
  }

  .file-name-overlay {
    right: 40px;
    max-width: 150px;
    font-size: 12px;
  }
}

/*format step*/

.format-selector label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  border: 1px solid var(--lines);
  border-radius: 4px;
}

.format-selector label:hover {
  border-color: #007BFF;
}

.format-selector input[type="radio"] {
  margin-right: 16px;
  vertical-align: middle;
  box-shadow: none;
}

/*agent step*/

.agent-box {
  background-color: #2b2b3d;
  color: var(--text);
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;
  border: 2px solid transparent;
}

.agent-box.active {
  background-color: var(--colored-lines);
  border-color: var(--lines);
}

.agent-box:hover {
  background-color: #3d3d5c;
}

.generate-agents-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: left;
}

.generate-agents-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select-dropdown {
  font-size: 16px;
  padding: 10px;
  background-color: #2b2b3d;
  color: var(--text);
  border-radius: 8px;
  border: none;
}

.perspective-selector-container {
  margin-top: 20px;
}

.agent-box-container {
  display: flex;
  flex-wrap: wrap;
}

.agent-box {
  border: 1px solid var(--lines);
  position: relative;
  background-color: var(--background);
  color: var(--text);
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  min-width: 100px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.agent-box.active {
  background-color: #131B2C;
  color: var(--text);
  border-color: #6499ff;
}

.agent-box:hover {
  background-color: #1A1F2E;
}

.delete-button {
  background: none;
  border: none;
  color: #ff6b6b;
  font-size: 24px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 1;
  margin-left: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff4c4c;
  color: var(--text);
}

/*dialog*/

.dialog-container {
  background-color: #0A101C;
  color: var(--text);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #AEB5C0;
}

.dialog-container h3 {
  margin-top: 0;
  color: #AEB5C0;
}

.dialog-container p {
  margin-bottom: 15px;
  font-size: 16px;
}

.dialog-round {
  margin-bottom: 15px;
}

.dialog-round h4 {
  cursor: pointer;
  color: #6499ff;
  margin: 0;
}

.dialog-round ul {
  list-style-type: none;
  padding-left: 0;
}

.dialog-round li {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #131B2C;
  border-radius: 8px;
}

.dialog-round li strong {
  color: #AEB5C0;
}

.dialog-round li span {
  cursor: pointer;
  color: #6499ff;
  display: block;
  margin-top: 5px;
}

.dialog-round li div {
  margin-top: 10px;
  background-color: #0A101C;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #AEB5C0;
}

/*summary*/

.summary-section {
  background-color: #23233c;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.summary-section h2 {
  color: var(--text);
}

/*loading spinner*/

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 20%;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*improve performance toggle*/

.summary-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.toggle-text {
  margin-right: 10px;
}

/* hide default checkbox */
.toggle-label input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #545454;
  border-color: #f3f3f3;
  border-radius: 34px;
  transition: background-color 0.4s;
}

.slider:before {
  content: '';
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 50%;
  bottom: 3px;
  left: 3px;
  transition: transform 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toggle-label input:checked+.slider {
  background-color: #007bff;
}

.toggle-label input:checked+.slider:before {
  transform: translateX(26px);
}

/*error message*/

.error-message {
  color: #ff6b6b;
  font-size: 14px;
  margin-top: 10px;
}



/* mobile screens */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .centered-column {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
  }

  .dialogs-bar {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    width: 80vw;
    padding-top: 60px;
    padding-left: 10px;
  }


  .dialogs-bar-open .dialogs-bar {
    transform: translateX(0);
  }

  .menu-symbol {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1100;
  }

  .generate-agents-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;
  }

  .agent-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .confidence-chart {
    white-space: pre-line;
  }


}